body, html{
    height: 100%;
  }
  body{
    background-image:linear-gradient(black, white, rgb(34, 182, 222));
    color: white;
    align-items: center;
    height: 100%; 
}
.paragrafoPreto{
    color: black;
}
.video{
    margin-left:auto;
	margin-right:auto;
	display: block;
	clear: both;
}