body, html{
    height: 100%;
  }
  body{
    background-image:linear-gradient(black, white, rgb(34, 182, 222));
    color: white;
    align-items: center;
    height: 100%; 
    background-repeat: no-repeat;
    background-image: url("cat-5320572_1280.jpg");
}
.paragrafoPreto{
    color: black;
}
.video{
    margin-left:auto;
	margin-right:auto;
	display: inline-block;
	clear: both;
}
header{
    background: orangered;
    border-bottom: solid 5px blue;
    padding: 20px;
    font-size: 40px;
}
iframe{
    background: green;
    padding: 30px;
}
img{
    width: 10%;
}